<div>
  <div class="d-inline-block icon-wrapper">
    <a
      href="https://www.behance.net/johnerusso"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../../assets/behance-gray80.svg" alt="Behance icon" />
    </a>
  </div>
  <div class="d-inline-block icon-wrapper">
    <a
      href="https://www.instagram.com/jackbiltdesigns/"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../../assets/Instagram-gray80.svg" alt="Instagram icon" />
    </a>
  </div>
  <div class="d-inline-block icon-wrapper">
    <a
      href="mailto:info@jackbiltdesigns.com"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../../assets/MailIcon-gray80.svg" alt="Mail icon" />
    </a>
  </div>
</div>
